.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
.idea/
secrets/*
!secrets/*.enc.tfvars
backend.tf
secrets.tfvars
venv
__pycache__
.DS_Store
.vscode

# Azure Function Core Tools artifacts
bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
dist

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
